<?xml version="1.0"?>
<!--
/**
 * Mageinn_Seo extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Mageinn
 * @package     Mageinn_Seo
 * @copyright   Copyright (c) 2017 Mageinn. (http://mageinn.com/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * @category   Mageinn
 * @package    Mageinn_Seo
 * @author     Mageinn
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sitemap\Model\Sitemap" type="Mageinn\Seo\Model\Sitemap"/>
    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="updateGalleryItemsData" type="Mageinn\Seo\Plugin\UpdateGalleryItemsData"/>
    </type>
    <type name="Magento\Framework\View\Page\Config">
        <plugin name="removeMetaDescription" type="Mageinn\Seo\Plugin\PageConfig\RemoveMeta" sortOrder="9999"/>
    </type>
    <preference for="Magento\Catalog\ViewModel\Product\Breadcrumbs" type="Mageinn\Seo\ViewModel\Product\Breadcrumbs" />
    <preference for="Magento\Framework\View\Page\Title" type="Mageinn\Seo\Model\View\Page\Title" />

    <type name="\Magento\Theme\Block\Html\Pager">
        <plugin name="seoGetPagerUrl" type="Mageinn\Seo\Plugin\Pager" sortOrder="9999"/>
    </type>
</config>